* {
    box-sizing: border-box;
 }
 
 body {
    margin: 0;
    padding: 0;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
 }

img{
    width: 210px;
    height: 296px;
    object-fit: contain;
}

 header {
    width: 100%;
    padding: 30px 4% 10px;
    background: linear-gradient(117deg, #1e9ab3, #4fb074);
    position: sticky;
    top: 0;
    z-index: 999;
    display:flex;
    align-items: center;
}

header h1 {
    margin: 0; padding: 0;
 }

 header a {
    text-decoration: none;
    color: whitesmoke;
}

body
{
    background-color: azure;
}

div{
    background-color: white;
}
