* {
    box-sizing: border-box;
 }
 
html{
    height: 100%; 
}

 body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
 }

 body
{
    background-color: azure;
}

div{
    background-color: white;
}

.products img{
    width: 210px;
    height: 296px;
    object-fit: contain;
}

 header {
    width: 100%;
    padding: 30px 4% 10px;
    background: linear-gradient(117deg, #1e9ab3, #4fb074);
    position: sticky;
    top: 0;
    z-index: 999;
    display:flex;
    align-items: center;
}

header a {
    text-decoration: none;
    color: whitesmoke;
}


header ul{
    list-style: none;
    margin: 0;
    display: flex;
}

header li{
    margin: 0 0 0 22px;
    font-size: 18px;
}

.misenntaku > a:hover{
    text-decoration: none;
    color: gold;
}

.senntaku{
    color: whitesmoke;
    font-weight: bold;
}

nav {
    margin: 0 0 0 auto;
 }

header h1 {
    margin: 0; padding: 0;
 }

* {
    box-sizing: border-box;
 }
 
 body {
    margin: 0;
    padding: 0;
 }

 h2 {
    padding: 0.5em;/*文字周りの余白*/
    color: #333333;/*文字色*/
    background: #c0f7f5;/*背景色*/
    border-bottom: solid 4px darkcyan;
    margin: 0;
  }

h3 {
    padding-left: 0.5em;/*文字周りの余白*/
    border-bottom: solid 2px #65d6e0;
    margin: 5px 0;
  }

.products div
{
    padding: 1em;
    width: auto;
    height: auto;
}

.tsubuyaki div
{
    padding: 1em;
    width: auto;
    height: auto;
}

.about_the_club div{
    padding: 1em;
    width: auto;
    height: auto; 
}

.home div
{
    padding: 1em;
    width: auto;
    height: auto;
}

.md-flex{
 display: flex;
}

.md-flex li{
    list-style: none;
    margin-left: 20px;
}

.md-flex li>a:link{
    text-decoration: none;
    color: whitesmoke;
}

.md-flex li>a:visited{
    text-decoration: none;
    color: whitesmoke;
}

.md-flex li>a:hover{
    text-decoration: none;
    color: gold;
}

footer{
    color: whitesmoke;
    background-color: darkcyan;
    padding: 2rem;
    position: sticky;
    top: 100vh;
    width: 100%;
}

@media (min-width: 768px) {
    .footer {
      display: flex;
      justify-content: space-between;
    }
}

.dekaiji{
    background: linear-gradient(to right,#e60000,#f39800,#fff100,#009944,#0068b7,#1d2088,#920783);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 300%;
    display: inline-block;
    font-weight: bolder;
}

.himitsu{
    text-decoration: none;
}

.himitsu:link{
    color: #000;
}

.himitsu:visited{
    color: #000;
}
